.student-list {
  width: 70%;
  height: 80vh;
  overflow-y: scroll;
  background-color: white;
  margin: 5em auto;
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 1px 1px 1px grey;
  padding: 0;
}
.student-list li {
  list-style-type: none;
  border-bottom: 1px solid lightgrey;
}
.student-list li:last-child {
  border-bottom: none;
}
.student {
  display: flex;
  align-items: center;
}
.student div {
  margin-left: 1em;
  color: grey;
}
.student h3 {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0.4em;
  margin-top: 0;
}
.student img {
  width: 6em;
  height: 6em;
  border: 1px solid grey;
  border-radius: 50%;
  margin: 1.5em;
}
.student p {
  margin: 0;
}
