.container {
  width: 100%;
  height: 100vh;
  background-color: white;
  /* margin: 5em auto; */
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 1px 1px 1px grey;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  /* right: 50%; */
  /* margin-right: -25em; */
}
.container .search-bar {
  width: 100%;
  /* position: fixed; */
  background-color: white;
  /* overflow: hidden; */
  border-radius: 5px;
}
.container input {
  box-sizing: border-box;
  width: 100%;
  /* border: none; */
  font-size: 1em;
  /* margin: 0.5em; */
  padding: 0.5em;
}
.container form:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 95%;
  border-bottom: 1px solid lightgray;
}
.container input:focus {
  outline: none;
  border-bottom: 1px solid grey;
}
.container ul {
  padding: 0;
  margin: 0;
  /* margin-top: 5.9em; */
  overflow-y: scroll;
}
.container li {
  list-style-type: none;
  border-bottom: 1px solid lightgrey;
}
.container li:last-child {
  border-bottom: none;
}
.student-card {
  display: flex;
  /* align-items: center; */
  padding: 0.3em;
}
.student-card section {
  width: 100%;
  padding-top: 0.2em;
}
.student-card header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.student-card header button {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(189, 189, 189);
  cursor: pointer;
  border: none;
  background-color: white;
}
.student-card header button:hover {
  color: black;
}
.student-details {
  /* margin-left: 1em; */
  color: grey;
}
.student-card h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
}
.student-card img {
  width: 2.5em;
  height: 2.5em;
  border: 1px solid grey;
  border-radius: 50%;
  margin: 0.5em;
}
.student-card p {
  margin: 0;
}
.collapsible {
  display: none;
}
.collapsible .student-grades {
  padding-left: 1em;
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 5em;
}
.collapsible .student-grades li {
  border: none;
  color: grey;
}
.active {
  display: inline;
}
.collapsible .add-tag {
  width: 100%;
  /* margin-left: 9.8em; */
  padding-left: 1em;
  padding-bottom: 0.3em;
}
.collapsible form:after {
  content: "";
  display: block;
  width: 67px;
  border-bottom: 1px solid black;
  margin: 0;
  margin-left: 1.2em;
  margin-bottom: 1em;
}
.tags {
  width: 95%;
  display: flex;
  margin-left: 0.8em;
  flex-wrap: wrap;
}
.tags p {
  background-color: rgb(235, 235, 235);
  color: grey;
  padding: 0.5em;
  margin: 0.25em;
  border-radius: 3px;
}

@media (min-width: 375px) {
  .student-card img {
    width: 3em;
    height: 3em;
  }
}

@media (min-width: 425px) {
  .student-card img {
    width: 5em;
    height: 4em;
  }
}

@media (min-width: 550px) {
  .student-card img {
    width: 7em;
    height: auto;
  }
}
